// container
.pages-container {
    max-width: $max-width;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;
    margin: 6rem 0 3rem 0;
}
// text styles 
.x-large {
    font-size: 4rem;
    line-height: 1.2;
    margin-bottom: 1rem;
    text-transform: capitalize;
}

.large {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.lead {
    font-size: 1.5rem;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.text-primary {
    color: $primary-color;
}

// profile images
.round-img {
    border-radius: 50%;
}

//background
.bg {
    &-primary {
        @include set-background($primary-color);
    }

    &-light {
        @include set-background($light-color);
        border: 1px solid #000;
    }

    &-dark {
        @include set-background($dark-color);
    }

    &-success {
        @include set-background($success-color);
    }

    &-danger {
        @include set-background($danger-color);
    }

    &-white {
        @include set-background(#fff);
        border: 1px solid #000;
    }
}

//buttons
.banner-action-btn-link {
    display: inline-block;
    background: $light-color;
    margin-right: 0.5rem;
    padding: 0.4rem 1.3rem;

    .btn {
        color: #fff;
        font-size: 1rem;
        text-decoration: none;
        border: none;
        cursor: pointer;
        outline: none;
        transition: all 2.2s ease-in;
    }

    &.btn-primary {
        @include set-background($primary-color);

        &:hover {
            background: lighten($primary-color, 15%);
        }
    }

    &.btn-light {
        @include set-background($light-color);

        &:hover {
            background: lighten($dark-color, 15%);
        }

    }

    &.btn-dark {
        @include set-background($dark-color);

        &:hover {
            background: lighten($dark-color, 15%);
        }
    }

    &.btn-success {
        @include set-background($success-color);

        &:hover {
            background: lighten($success-color, 15%);
        }
    }

    &.btn-danger {
        @include set-background($danger-color);

        &:hover {
            background: lighten($danger-color, 15%);
        }
    }

    &:hover {
        background: lighten($dark-color, 20%);
        color: #fff;
    }
}

// alerts
.alert{
    padding: 0.8rem;
    margin: 1rem;
    opacity: 0.9;
    background: $light-color;
    color: #333;

    &.alert-primary{
        @include set-background($primary-color)
    }

    &.alert-dark{
        @include set-background($dark-color)
    }

    &.alert-success{
        @include set-background($success-color)
    }

    &.alert-danger{
        @include set-background($danger-color)
    }
}
.dark-overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.btn-primary {
    display: inline-block;
    background: $light-color;
    margin-right: 0.5rem;
    padding: 0.4rem 1.3rem;

    .btn {
        color: #fff;
        font-size: 1rem;
        text-decoration: none;
        border: none;
        cursor: pointer;
        outline: none;
        transition: all 2.2s ease-in;
    }
    @include set-background($primary-color);

    &:hover {
        background: lighten($primary-color, 15%);
    }
}